[submodule "zffmetareader"]
	path = zffmetareader
	url = https://github.com/ph0llux/zffmetareader
[submodule "zffacquire"]
	path = zffacquire
	url = https://github.com/ph0llux/zffacquire
[submodule "zffmount"]
	path = zffmount
	url = https://github.com/ph0llux/zffmount
