[package]
name = "zff"
version = "3.0.0-rc.5"
authors = ["ph0llux <ph0llux@pm.me"]
edition = "2021"
rust-version = "1.67.1"
license = "MIT OR Apache-2.0"
description = "This crate is a library to interact with zff, a file format for forensic images."
readme = "./README.md"
homepage = "https://zff.dev"
repository = "https://github.com/zff-team/zff-rs"
keywords = ["forensics", "security", "acquisition", "file-format", "file"]
publish = true

[lib]
name = "zff"
path = "src/lib/mod.rs"
test = true
bench = true
doc = true
edition = "2021"
crate-type = ["lib"]

[dependencies]
byteorder = "1.4.3"
rand = { version = "0.9.2", features = ["os_rng"] }
base64 = "0.22"
time = { version = "0.3.47" }
itertools = "0.14"
redb = "3.1.0"
crossbeam = "0.8.2"
#encryption
pkcs5 = { version = "0.7.1", features = [ "pbes2", "alloc" ] }
rust-argon2 = "3.0.0"
aes-gcm = { version = "0.10", features = [ "std" ] }
chacha20poly1305 = "0.10"
typenum = "1.19.0"
cbc = { version = "0.1.2", features = [ "alloc" , "std"] }
aes = "0.8.3"
#compression
zstd = "0.13.3"
lz4_flex = "0.12.0"
ordered-float = "5.1.0"
#Hashing
digest = { version = "0.10.6", features = [ "alloc" ] }
blake3 = { version = "1.8.3", features = [ "traits-preview" ] }
blake2 = "0.10.6"
sha2 = "0.10.9"
sha3 = "0.10.8"
xxhash-rust = { version = "0.8", features = ["xxh3"] }
#signing
ed25519-dalek = { version = "2.2.0", features = [ "digest" ] }
# optional deps for features
serde = { version = "1.0.228", features = ["derive"], optional = true }
log = { version = "0.4.29", optional = true }
hex = { version = "0.4", optional = true }

# platform specific dependencies
[target.'cfg(target_family = "unix")'.dependencies]
xattr = "1.6.1"
posix-acl = "1.1.0"

[features]
default = []
serde = ["dep:serde", "dep:hex", "ordered-float/serde"]
log = ["dep:log", "dep:hex"]

[dev-dependencies]
hex = "0.4.3"